/* createAccount.css */
.create-account {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-account h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.create-account form {
  display: flex;
  flex-direction: column;
}

.create-account form div {
  margin-bottom: 15px;
}

.create-account label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.create-account input,
.create-account select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
}

.create-account input:focus,
.create-account select:focus {
  border-color: #007bff;
  outline: none;
}

.create-account button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-account button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .create-account {
      width: 90%;
      margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .create-account {
      padding: 15px;
  }

  .create-account h2 {
      font-size: 1.25rem; /* Slightly smaller font size for smaller screens */
  }

  .create-account button {
      font-size: 14px; /* Smaller button font size */
  }
}

.success-message {
  color: #0056b3;
  font-weight: bold;
  margin-bottom: 10px;
}
