.slideshow-container {
  width: 100%;
  height: 500px; /* Set a fixed height for the slideshow */
  overflow: hidden;
  position: relative;
}

.slide {
  position: relative;
}

.slide-image {
  width: 100%;
  height: 100%; /* Change height to 100% to fill the container */
  object-fit: cover; /* Maintain aspect ratio while covering the space */
  position: relative; 
  animation: zoomOut 2s ease-in-out; 
}

.slide-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%; /* Gradient height */
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
}

.slide-text {
  position: absolute;
  bottom: 30px; /* Adjust to position the text above the bottom of the image */
  left: 50%; /* Center the text horizontally */
  transform: translateX(-50%); /* Adjust centering */
  color: white;
  text-align: center;
  font-size: 20px; /* Base font size */
  font-weight: bold;
  padding: 20px 10px; /* Padding for the text */
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(100% - 40px); /* Adjust width */
  max-width: 900px; /* Maximum width for text container */
}

.slide-text h2 {
  color: #007bff;
  margin: 0;
  font-size: 30px; /* Base font size for h2 */
  margin-bottom: 15px;
}

.slide-text p {
  margin: 10px 0 0;
  font-size: 18px; /* Base font size for p */
  margin-bottom: 15px;
  color: #666;
}

.apply-button {
  background-color: #007bff;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none; /* Remove underline from link */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .slide-text {
    font-size: 18px; /* Smaller font size on tablets */
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .slide-text h2 {
    font-size: 26px; /* Adjust h2 font size */
  }

  .slide-text p {
    font-size: 16px; /* Adjust p font size */
  }
}

@media (max-width: 480px) {
  .slide-text {
    font-size: 16px; /* Maintain font size for the text */
    padding: 15px; /* Increase padding for better spacing */
  }

  .slide-text h2 {
    font-size: 24px; /* Increase h2 font size for better visibility */
    line-height: 1.2; /* Add line height for readability */
  }

  .slide-text p {
    font-size: 16px; /* Adjust p font size for consistency */
    line-height: 1.5; /* Add line height for readability */
  }
}


@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
